
<!--///////////////////////////////Top-Half//////////////////////////////////////////////////////////////////////////-->
					
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
        	<%= image_tag "SeeThrulogo2.png", class: "logo-pic" %>
        		
        		 <a href="tel:7706886685"><button type="submit" class="btn btn-primary" id="circle">
        			<h2 class="learn">Learn More!</h2>
        		 </button></a>
        </div>
    </div>
</div>


					
				



























