
<!--///////////////////////////////Top-Half//////////////////////////////////////////////////////////////////////////-->
					<div class="main">
							<div class="col-md-12" id="cover1">
								<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="cover-jr1">
									<div class="col-md-8 col-sm-12">
										<h1 class="name">SeeThru</h1>
										<h3 class="phrase">Reclaim your health care</h3>
									</div> 
								</div>
							</div>

<!--///////////////////////////////lower-Half/////////////////////////////////////////////////////////////////////-->

							<div class="col-md-12" id="cover2">
								<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="cover-jr2">
									<div class="col-md-6 col-sm-8 col-md-offset-8 col-sm-offset-7">
									<%= image_tag "seelogo.png", class: "logo-pic" %>
								</div>
								</div>
							</div>
					</div>
					<br>

					<div class="container"  id="bottom-break">
						<h3 class="slogan">Value based health care @ your fingertips!</h3>
						<br>

					<div class="row">
						<div class="col-md=12 col-sm-12">
					<div class="col-md-6 col-sm-9">
					<%= image_tag "docdoc.jpeg", class: "doc-pic" %>
					</div>
					<div class="col-md-6 col-sm-9">
					<%= image_tag "docdoc2.jpg", class: "doc-pic" %>	
					</div>
				</div>

					<div class="col-md-8 col-sm-9 col-md-offset-2 col-sm-offset-2" id="learn-box">
						<h3 class="catch"><font color="#00BEF2"> Join us! </font>"Stay connected to the global movement to bring transparency and high quality healthcare for all."</h3> 
						</div>
						<div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1" id="box1">
							<p class="info">First Name:</p>
						</div>
						<div class="col-md-3 col-sm-3" id="box1">
							<p class="info">Last Name:</p>
						</div>
						<div class="col-md-3 col-sm-3" id="box1">
							<p class="info">Email Address:</p>
						</div>
					
					<div class="col-md-3 col-sm-5 col-md-offset-4 col-sm-offset-4" id="box2">
					<h4 class="join">Join the Movement</h4>
				</div>
				</div>
				

			</div>



























