					<div class="cover-all">
<!--///////////////////////////////Top-Half//////////////////////////////////////////////////////////////////////////-->

							<div class="col-md-12" id="cover1">
								<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="cover-jr1">
									<div class="col-md-8 col-sm-12">
										<h1 class="name">SeeThru</h1>
										<h3 class="phrase">Reclaim your health care</h3>
									</div> 
								</div>
							</div>

<!--///////////////////////////////lower-Half/////////////////////////////////////////////////////////////////////-->

							<div class="col-md-12" id="cover2">
								<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="cover-jr2">
								</div>
							</div>

					</div>
					
					<div class="bottom-break">

					</div>


























