// Place all the styles related to the SeeThru controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.cover-all{
	width: 100%;
	height: auto;

}


#cover1{
	height: 400px;
	background-color: #0792B9;
}

#cover-jr1{
	background-color: #00BEF2;
	height: 344px;
	margin-top: 4em;
	

}


.name{
	margin-top: 100px;
  color: white;
  font-size: 11vw;
}

.phrase{
	font-size: 315%;
	color: white;
	font-style: italic;
	margin-top: 0px;
}

#cover2{
	height: 400px;
}

#cover-jr2{
	background-color: white;
	height: 344px;
	
}


.bottom-break{
	height: 500px;
	width: 100%;
	border: solid 2px blue;
}













