// Place all the styles related to the SeeThru controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.main{
	width: 100%;
	height: 745px;

}


#cover1{
	height: 400px;
	background-color: #0792B9;
}

#cover-jr1{
	background-color: #00BEF2;
	height: 344px;
	margin-top: 4em;
	

}

.touch{
	text-align: center;
  color: #00BEF2;
  font-size: 5vw;
  margin-top: 55px;
}

.numb{
	text-align: center;
	font-size: x-large;
	color: black;
	font-style: italic;
	font-family: sans-serif;
}

.logo-pic{
	width: 50%;
	height: 170px;
	margin-top: 75px;
}

.name{
	margin-top: 100px;
  color: white;
  font-size: 11vw;
}

.phrase{
	font-size: 315%;
	color: white;
	font-style: italic;
	margin-top: 0px;
}

#cover2{
	height: 400px;
}

#cover-jr2{
	background-color: white;
	height: auto;
	
}

.email, a {
	text-align: center;
	font-style: italic;
  font-size: xx-large;
  color: black;
  font-family: sans-serif;
}



/*

#bottom-break{
	height: 860px;
	width: 100%;
}

.doc-pic{
	width: 100%;
	height: 370px;
}

.slogan{
	text-align: center; 
	font-size: 3vw;
	color: #00BEF2;
	text-decoration: underline;
}


#learn-box{
	height: 200px;
	text-align: center;

}

.info{
	text-align: left;
	color: gray;
  font-family: serif;
}

#box1{
	height: 50px;
	border: 1px solid;
	background-color: white;
	padding: 15px;
	border-radius: 6px;
	margin-right: 5px;
}

.catch{
	margin-top: 40px;
}

.join{
	padding: 5px;
}


#box2{
	height: 50px;
	background-color: #00BEF2;
	color: white;
	text-align: center;
	border-radius: 10px;
	margin-top: 50px;
}
*/
